# Tutorial 82: Tables

This example demonstrates how view, create, delete and edit measured variable tables (Sollwerttabellen).

# SIR 3S Installation

In [1]:
SIR3S_SIRGRAF_DIR = r"C:\3S\SIR 3S\SirGraf-90-15-00-21_Quebec-Upd2" #change to local path

# Imports

In [2]:
from sir3stoolkit.core import wrapper

In [3]:
from sir3stoolkit.mantle import mantle

The wrapper package has to be initialized with reference to a SIR 3S (SirGraf) installation.

In [4]:
wrapper.Initialize_Toolkit(SIR3S_SIRGRAF_DIR)

## Additional imports

In [5]:
import pandas as pd
import numpy as np

...

# Initialization

In [6]:
s3s = mantle.SIR3S_Model_Mantle()

Initialization complete

# Open Model

In [7]:
dbFilePath=r"Toolkit_Tutorial82_Model.db3"

In [8]:
s3s.OpenModel(dbName=dbFilePath,
              providerType=s3s.ProviderTypes.SQLite,
              Mid="M-1-0-1",
              saveCurrentlyOpenModel=False,
              namedInstance="",
              userID="",
              password="")

Model is open for further operation

# Create new measured variable tables

Let's insert Variable 1 as a placeholder example.

In [9]:
s3s.GetPropertiesofElementType(ElementType=s3s.ObjectTypes.MeasuredVariableTable)

['Name',
 'Beschreibung',
 'Zeitoption',
 'Intpol',
 'Idreferenz',
 'Pk',
 'InVariant']

In [10]:
measured_variable_table_1 = s3s.InsertElement(ElementType=s3s.ObjectTypes.MeasuredVariableTable, IdRef="1")

Element inserted successfully into the model with Tk: 4712393112898073382

In [11]:
s3s.SetValue(Tk=measured_variable_table_1, propertyName="Name", Value="Variable 1")

Value is set

In [12]:
s3s.SetValue(Tk=measured_variable_table_1, propertyName="Zeitoption", Value="0") # We do not want special time reference, see general SIR 3S documentation for details

Value is set

In [13]:
s3s.SetValue(Tk=measured_variable_table_1, propertyName="Intpol", Value="0") # We choose linear interpolation scheme. Use 9 for step function

Value is set

In [14]:
s3s.GetValue(Tk=measured_variable_table_1, propertyName="Intpol")

('0', 'int32')

## Insert values

In [15]:
s3s.GetPropertiesofElementType(ElementType=s3s.ObjectTypes.MeasuredVariableTable_Row)

['Name', 'Fk', 'Zeit', 'Zeitstempel', 'W', 'Pk', 'InVariant']

W is the value that is given as a function of time W = f(t)

The sample data we provide is in 'measured' in constant time intervals and the values are random between 0 and 100.

In [16]:
# Create time vector: 0 to 600 seconds, step 20
time = np.arange(0, 601, 20)

# Create variable values between 0 and 100
# For reproducible randomness:
np.random.seed(42)
variable1 = np.random.randint(0, 101, size=len(time))

# Build the DataFrame
df = pd.DataFrame({
    "Time [s]": time,
    "Variable 1 [?]": variable1
})

In [17]:
df.head()

   Time [s]  Variable 1 [?]
0         0              51
1        20              92
2        40              14
3        60              71
4        80              60

We can use the [insert_dataframe_into_measured_variable_table()]() method to insert the dataframe into the model as a measured variable table.

In [18]:
s3s.insert_dataframe_into_measured_variable_table(measured_variable_table_tk=str(measured_variable_table_1)
                                                  ,dataframe=df
                                                  ,time_col="Time [s]"
                                                  ,value_col="Variable 1 [?]")

[2026-02-01 22:35:51,498] INFO in sir3stoolkit.mantle.advanced_operations: [insert dataframe into measured variable table] Validating input data ...
[2026-02-01 22:35:51,499] INFO in sir3stoolkit.mantle.advanced_operations: [insert dataframe into measured variable table] Successfully validated input data.
[2026-02-01 22:35:51,503] INFO in sir3stoolkit.mantle.advanced_operations: [insert dataframe into measured variable table] Inserting value pairs ...
[2026-02-01 22:35:51,535] INFO in sir3stoolkit.mantle.advanced_operations: [insert dataframe into measured variable table] Successfully inserted value pairs

Row is added to the table with Tk: 4790232147548283552
Value is set
Value is set
Row is added to the table with Tk: 5547495382357884161
Value is set
Value is set
Row is added to the table with Tk: 5083333107170349649
Value is set
Value is set
Row is added to the table with Tk: 5655719838154138533
Value is set
Value is set
Row is added to the table with Tk: 5015444481647811064
Value is set
Value is set
Row is added to the table with Tk: 4920313330244205162
Value is set
Value is set
Row is added to the table with Tk: 4793365346650355338
Value is set
Value is set
Row is added to the table with Tk: 5457337482007840744
Value is set
Value is set
Row is added to the table with Tk: 5040686267999065300
Value is set
Value is set
Row is added to the table with Tk: 4793766188182345837
Value is set
Value is set
Row is added to the table with Tk: 4837400719578792342
Value is set
Value is set
Row is added to the table with Tk: 4931069960929391462
Value is set
Value is set
Row is added to the table with Tk: 5072109825298370632
Value is set
Value is set
Row is added to the table with Tk: 5176868611538048921
Value is set
Value is set
Row is added to the table with Tk: 5451044516056501319
Value is set
Value is set
Row is added to the table with Tk: 4677545375462139421
Value is set
Value is set
Row is added to the table with Tk: 5320569215308166500
Value is set
Value is set
Row is added to the table with Tk: 5640759103917214680
Value is set
Value is set
Row is added to the table with Tk: 4631268436500992517
Value is set
Value is set
Row is added to the table with Tk: 4739314463362316330
Value is set
Value is set
Row is added to the table with Tk: 4944809067052593553
Value is set
Value is set
Row is added to the table with Tk: 5010075199749312016
Value is set
Value is set
Row is added to the table with Tk: 5722004140808004732
Value is set
Value is set
Row is added to the table with Tk: 4955790180212478180
Value is set
Value is set
Row is added to the table with Tk: 5279518777913392188
Value is set
Value is set
Row is added to the table with Tk: 5406264934723488347
Value is set
Value is set
Row is added to the table with Tk: 5608219017118758620
Value is set
Value is set
Row is added to the table with Tk: 5576016582054782616
Value is set
Value is set
Row is added to the table with Tk: 4813622877564964786
Value is set
Value is set
Row is added to the table with Tk: 4885371040017512138
Value is set
Value is set
Row is added to the table with Tk: 5228999599186805139
Value is set
Value is set

# View measured value tables

## Create dfs of values

In [19]:
table_tks = []

In [20]:
for id, tk in enumerate(s3s.GetTksofElementType(s3s.ObjectTypes.MeasuredVariableTable)):
    table_tks.append(tk)

In [21]:
table_dfs = []

We can use the [get_dataframe_from_measured_variable_table()]() method to obtain measured variable tables as a dataframe.

In [22]:
for tk in table_tks:    
    df = s3s.get_dataframe_from_measured_variable_table(measured_variable_table_tk=tk, value_col=s3s.GetValue(Tk=tk, propertyName="Name")[0], time_col="Zeit [s]")
    table_dfs.append(df)

[2026-02-01 22:35:51,574] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Validating input data ...
[2026-02-01 22:35:51,575] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Successfully validated input data.
[2026-02-01 22:35:51,575] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Building dataframe ...
[2026-02-01 22:35:51,590] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Successfully built dataframe.
[2026-02-01 22:35:51,590] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Validating input data ...
[2026-02-01 22:35:51,592] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Successfully validated input data.
[2026-02-01 22:35:51,593] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Building dataframe ...
[2026-02-01 22:35:51,594] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Successfully built dataframe.
[2026-02-01 22:35:51,594] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Validating input data ...
[2026-02-01 22:35:51,594] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Successfully validated input data.
[2026-02-01 22:35:51,598] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Building dataframe ...
[2026-02-01 22:35:51,601] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Successfully built dataframe.
[2026-02-01 22:35:51,601] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Validating input data ...
[2026-02-01 22:35:51,601] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Successfully validated input data.
[2026-02-01 22:35:51,605] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Building dataframe ...
[2026-02-01 22:35:51,608] INFO in sir3stoolkit.mantle.advanced_operations: [get dataframe from measured variable table] Successfully built dataframe.

## View value dfs and other data per measured variable table

In [23]:
def view_non_value_data_of_measured_variable_table(measured_variable_table_tk):
    name = s3s.GetValue(Tk=measured_variable_table_tk, propertyName="Name")[0]
    intpol = s3s.GetValue(Tk=measured_variable_table_tk, propertyName="Intpol")[0]
    if intpol == "0":
        intpol_clear = "linear"
    elif intpol == "9":
        intpol_clear = "step function"
    else:
        intpol_clear = "invalid intpol"
    print(f"Tk: {measured_variable_table_tk}, Name: {name}, Interpolation scheme: {intpol_clear}")

In [24]:
len(table_tks)

4

We have 4 tables to view. Note that the table_tks and table_dfs index do not match the variable names.

### 0

In [25]:
view_non_value_data_of_measured_variable_table(table_tks[0])

Tk: 4690496339163833971, Name: Variable 2, Interpolation scheme: step function

In [26]:
table_dfs[0].head(10)

                    Zeit [s] Variable 2
5238119681362566577        0          1
5061575663051528766       18          1
5723804092965624436       22          0
5048369715933631343       39          1
4615214940344953271       52          0
5375069532035517868       62          1
5339268850669424190       64          0
4965172431638973451       74          0
5205745981304652816       81          1
5367678067024287502       84          1

### 1

In [27]:
view_non_value_data_of_measured_variable_table(table_tks[1])

Tk: 4775965132419647289, Name: Variable 2, Interpolation scheme: step function

In [28]:
table_dfs[1].head(10)

                    Zeit [s] Variable 2
5015901035241501518        0      99999

The second table obtained, does not contain any valid values, furthermore it carries the same name as the first one. So it probably is some duplicate relict from model creation. We can delete it afterwards.

In [29]:
table_tk_to_delete = table_tks[1]

### 2

In [30]:
view_non_value_data_of_measured_variable_table(table_tks[2])

Tk: 5721839716933060230, Name: Variable 3, Interpolation scheme: linear

In [31]:
table_dfs[2].head(10)

                    Zeit [s] Variable 3
4755949573138710264        0          1
5022904585849216719       20         35
4786929457061842687       40         57
4839574803848986111       60         40
5032700042233963169       80         73
5518466476179421455      100         82
5338969109875152080      120         68
5622529741873886978      140         69
5075880829001729298      160         52
4783375936225067505      180          1

### 3

In [32]:
view_non_value_data_of_measured_variable_table(table_tks[3])

Tk: 4712393112898073382, Name: Variable 1, Interpolation scheme: linear

In [33]:
table_dfs[3].head(10)

                    Zeit [s] Variable 1
4790232147548283552        0         51
5547495382357884161       20         92
5083333107170349649       40         14
5655719838154138533       60         71
5015444481647811064       80         60
4920313330244205162      100         20
4793365346650355338      120         82
5457337482007840744      140         86
5040686267999065300      160         74
4793766188182345837      180         74

This is the table we created earlier, as can be seen, it worked out fine.

# Delete measured variable table

We can delete the faulty duplicate measured variable table as any other element. The rows depending on it will be deleted as well.

In [34]:
s3s.DeleteElement(Tk=str(table_tk_to_delete))

Element deleted successfully

# Clean up

To clean up.

In [35]:
for id, df in enumerate(table_dfs):
    df = df.reset_index(drop=True)
    table_dfs[id] = df

In [36]:
measured_variable_tk_to_dataframe = {
    table_tks[3]: table_dfs[3],
    table_tks[0]: table_dfs[0],
    table_tks[2]: table_dfs[2],
}

In [37]:
valid_table_tks =  [table_tks[3], table_tks[0], table_tks[2]]

In [38]:
valid_table_tks

['4712393112898073382', '4690496339163833971', '5721839716933060230']

# WORK IN PROGRESS: Joint view of all measured variable tables

The main challenge when trying to display multiple measured variable tablese is that the can have different time intervals. Many are measured in the same intervals, but some may only be

In [39]:
import pandas as pd

In [41]:
df_h = pd.concat([measured_variable_tk_to_dataframe[valid_table_tks[0]], measured_variable_tk_to_dataframe[valid_table_tks[2]]], axis=1)

In [43]:
df_h.head(10)

  Zeit [s] Variable 1 Zeit [s] Variable 3
0        0         51        0          1
1       20         92       20         35
2       40         14       40         57
3       60         71       60         40
4       80         60       80         73
5      100         20      100         82
6      120         82      120         68
7      140         86      140         69
8      160         74      160         52
9      180         74      180          1

In [45]:
measured_variable_tk_to_dataframe[valid_table_tks[1]].head(10)

  Zeit [s] Variable 2
0        0          1
1       18          1
2       22          0
3       39          1
4       52          0
5       62          1
6       64          0
7       74          0
8       81          1
9       84          1